<title>Offers Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
<br>   
<div class="container-fluid">
    <h3>Exclusive Offers</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offer-card">
            <div class="card">
                <img src="/images/flight.webp" class="card-img-top offer-image" alt="Flight Offer">
                <div class="card-body">
                    <h5 class="card-title">10% Off on Flights</h5>
                    <p class="card-text">Use code: FLYBOB</p>
                    <p class="card-text">Valid till: 31-12-2024</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 offer-card">
            <div class="card">
                <img src="/images/dining.webp" class="card-img-top offer-image" alt="Dining Offer">
                <div class="card-body">
                    <h5 class="card-title">15% Cashback on Dining</h5>
                    <p class="card-text">Use code: DININGRUPAYCCUPI</p>
                    <p class="card-text">Valid till: 31-03-2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 offer-card">
            <div class="card">
                <img src="/images/shopping.jpg" class="card-img-top offer-image" alt="Shopping Offer">
                <div class="card-body">
                    <h5 class="card-title">Flat ₹500 Off on Shopping</h5>
                    <p class="card-text">Use code: BOB500</p>
                    <p class="card-text">Valid till: 31-12-2024</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offer-card">
            <div class="card">
                <img src="/images/hotel.jpg" class="card-img-top offer-image" alt="Hotel Booking Offer">
                <div class="card-body">
                    <h5 class="card-title">20% Off on Hotel Bookings</h5>
                    <p class="card-text">Use code: HOTEL20</p>
                    <p class="card-text">Valid till: 30-06-2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 offer-card">
            <div class="card">
                <img src="/images/grocery.jpg" class="card-img-top offer-image" alt="Grocery Offer">
                <div class="card-body">
                    <h5 class="card-title">5% Cashback on Groceries</h5>
                    <p class="card-text">Use code: GROCERY5</p>
                    <p class="card-text">Valid till: 31-01-2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 offer-card">
            <div class="card">
                <img src="/images/movie.jpg" class="card-img-top offer-image" alt="Movie Tickets Offer">
                <div class="card-body">
                    <h5 class="card-title">Free Movie Tickets</h5>
                    <p class="card-text">Use code: MOVIEFREE</p>
                    <p class="card-text">Valid till: 28-02-2025</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>