
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container mt-5">
    <div class="section" id="investments">
        <h2 class="text-primary">Investments</h2>
        <p>Explore our range of investment options designed to help you grow your wealth.</p>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><i class="fas fa-chart-line"></i> Stocks</li>
                    <li><i class="fas fa-landmark"></i> Bonds</li>
                    <li><i class="fas fa-piggy-bank"></i> Savings Accounts</li>
                    <li><i class="fas fa-building"></i> Real Estate</li>
                    <li><i class="fas fa-coins"></i> Mutual Funds</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="images/investment.jpg" alt="Insurance Plans" class="img-fluid">
            </div>
 
            </div>
           
    </div>
    <div class="section" id="insurance">
        <h2 class="text-success">Insurance</h2>
        <p>Protect your future with our comprehensive insurance plans.</p>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><i class="fa fa-life-ring"></i> Life Insurance</li>
                    <li><i class="fa fa-heartbeat"></i> Health Insurance</li>
                    <li><i class="fa fa-car"></i> Vehicle Insurance/ Motor Insurance</li>
                    <li><i class="fa fa-plane"></i> Travel Insurance</li>
                    <li><i class="fa fa-university"></i> Government Schemes</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="images/insurance.jpg" alt="Insurance Plans" class="img-fluid">
            </div>
        </div>
    </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
