
<div class="about-us-container">
    <div class="about-us-merge">
        <div class="merged-content">
            <h2 class="animated-heading">
                <i class="fa-solid fa-building-columns"></i> Our Services <i class="fa-solid fa-building-columns"></i>
            </h2>
           
            <hr>
            <p class="justified-text">
                At SoftBank, we are committed to providing our customers with exceptional financial solutions
                through our comprehensive range of debit and credit card services. Our cards are designed to
                offer unparalleled convenience, security, and rewards, ensuring that every transaction is
                seamless and beneficial. Whether you are looking to manage your daily expenses with our debit
                 cards or seeking the flexibility and benefits of our credit cards, SoftBank has the perfect
                  solution to meet your needs. Experience the power of financial freedom with SoftBank's innovative card services, tailored to support your lifestyle and financial goals.
            </p>
        </div>
    </div>
    <div class="about-us-column">
        <h2 class="animated-heading">Debit Card</h2>
        <hr>
        <img class="interactive-image" style="border-radius: 20px; margin-top: 10px;" src="/images/Media.png" alt="pms">
        <br>
        <br>
        <p class="justified-text">
            SoftBank's debit cards provide a secure and convenient way to manage your daily expenses.
            Enjoy instant access to your funds for cash withdrawals, purchases, and bill payments.
             Benefit from our extensive ATM network and fee-free transactions at numerous locations.
             Our advanced security features, including EMV chip technology and real-time alerts, protect your
             account from fraud. Plus, enjoy exclusive discounts and offers at partner merchants.
             Experience the ease and security of SoftBank debit cards for all your financial needs.
        </p>
    </div>
    <div class="about-us-column">
        <h2 class="animated-heading">Credit Card</h2>
        <hr>
        <img class="interactive-image1" style="border-radius: 20px; margin-top: 10px;" src="/images/Media.jpg" alt="pms" height="200px" width="300px">
        <br>
        <br>
 
        <p class="justified-text">
            SoftBank credit cards offer financial flexibility and exclusive benefits. Enjoy the convenience
            of making purchases now and paying later, while earning rewards points on every transaction.
            Our cards feature attractive interest rates, cashback offers, and travel perks like complimentary airport lounge access and travel insurance. Robust security features, including fraud protection and zero liability on unauthorized transactions, ensure your peace of mind. Whether shopping, dining,
            or traveling, SoftBank credit cards provide the financial freedom and rewards you deserve.
        </p>
    </div>
   
   
</div>